.primaryButton {
    background-color: rgb(93, 93, 248);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    border: none;
    height: 40px;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
    min-width: 120px;
    transition: 200ms;
}

.primaryButton:hover {
    background-color: rgb(82, 82, 235);
}

.primaryButton svg {
    fill: white;
}