.input {
    height: 40px;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: .5rem;
    border: 1px solid #E1E1E1;
}

.TodoInputContainer {
    margin-bottom: 1.5rem;
    display: flex;
    gap: .5rem;
}