.textButton {
    display: inline-flex;
    align-items: center;
    color: rgb(254, 82, 82);
    background-color: inherit;
    border: none;
    margin: 0 auto;
    height: 40px;
    padding: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: 200ms;
}

.textButton:hover {
    background-color: rgb(239, 239, 239);
}

